## Currently Enrolled NBA Player Cummulative Statistics Web Scraping

__Code__

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from time import sleep
import datetime
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

This code is used to parse the dataset for the __cummulative averages__.

In [5]:
url = 'https://stats.nba.com/players/traditional/?sort=PTS&dir=-1&Season=2018-19&SeasonType=Regular%20Season'
browser = webdriver.Firefox()
browser.get(url)

full_text = [[],[],[],[],[],[],[],[],[],[]]

for i in range(10):
	table = browser.find_element_by_css_selector('.nba-stat-table__overflow')
	text = table.text.split('\n')
	full_text[i].append(text)
	browser.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[3]/div/div/a[2]').click()
	sleep(1)
browser.quit()

header = full_text[0][0][0].split(' ')
rank = []
player = []
stats= []

for j in range(9):
    for i in range(1, 151, 3):
        rank.append(full_text[j][0][i])

    for i in range(2,151, 3):
        player.append(full_text[j][0][i])

    for i in range(3,151, 3):
        stats.append(full_text[j][0][i].split(' '))

data = pd.DataFrame(stats, columns=header[1:])
for item in data.drop('TEAM', axis=1).columns:
    data[item] = data[item].astype('float')
data['PLAYER'] = player
data['WLP'] = data['W'] / data['GP']
data['DATE'] = str(datetime.date.today())
x = data.columns.tolist()
x = x[-1:] + x[-3:-2] + x[0:3] + x[-2:-1] + x[3:28] 
data = data[x]

data.to_csv("data/avg/" + str(datetime.date.today()) + "_avg.csv", index=False)
data.head()

,DATE,PLAYER,TEAM,AGE,GP,WLP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2019-01-10,James Harden,HOU,29.0,37.0,0.594595,22.0,15.0,37.3,33.9,9.8,22.6,43.6,4.8,12.5,38.6,9.4,11.0,85.3,0.7,5.3,6.0,8.6,5.7,2.0,0.6,3.5,56.1,15.0,5.0,1.6
1,2019-01-10,Anthony Davis,NOP,25.0,37.0,0.513514,19.0,18.0,37.0,28.9,10.4,20.2,51.4,0.9,2.9,32.1,7.2,9.0,80.4,3.4,9.9,13.2,4.4,2.0,1.8,2.7,2.5,62.8,29.0,0.0,4.7
2,2019-01-10,Stephen Curry,GSW,30.0,30.0,0.733333,22.0,8.0,34.8,28.9,9.6,19.9,48.3,5.0,11.4,44.3,4.6,5.0,91.3,0.6,4.5,5.2,5.5,3.1,1.3,0.3,2.6,45.2,1.0,0.0,8.5
3,2019-01-10,Kevin Durant,GSW,30.0,41.0,0.658537,27.0,14.0,35.8,28.4,9.8,19.4,50.5,1.8,5.0,36.4,7.0,7.7,91.1,0.5,6.9,7.4,6.1,3.4,0.8,1.0,1.9,48.6,12.0,2.0,7.0
4,2019-01-10,Kawhi Leonard,TOR,27.0,33.0,0.696970,23.0,10.0,34.9,27.3,9.5,18.9,50.2,1.7,4.7,36.8,6.6,7.8,84.8,1.2,6.6,7.8,3.1,2.0,1.9,0.5,1.5,46.5,9.0,0.0,5.0

This is a repeat of the code above, but for the dataset for the __total count__.   
Notice: Only `url` is different.

In [8]:
url = 'https://stats.nba.com/players/traditional/?sort=PTS&dir=-1&Season=2018-19&SeasonType=Regular%20Season&PerMode=Totals'
browser = webdriver.Firefox()
browser.get(url)

full_text = [[],[],[],[],[],[],[],[],[],[]]

for i in range(10):
	table = browser.find_element_by_css_selector('.nba-stat-table__overflow')
	text = table.text.split('\n')
	full_text[i].append(text)
	browser.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[3]/div/div/a[2]').click()
	sleep(1)
browser.quit()

header = full_text[0][0][0].split(' ')
rank = []
player = []
stats= []

for j in range(9):
    for i in range(1, 151, 3):
        rank.append(full_text[j][0][i])

    for i in range(2,151, 3):
        player.append(full_text[j][0][i])

    for i in range(3,151, 3):
        stats.append(full_text[j][0][i].split(' '))

data = pd.DataFrame(stats, columns=header[1:])
for item in data.drop('TEAM', axis=1).columns:
    data[item] = data[item].astype('float')
data['PLAYER'] = player
data['WLP'] = data['W'] / data['GP']
data['DATE'] = str(datetime.date.today())
x = data.columns.tolist()
x = x[-1:] + x[-3:-2] + x[0:3] + x[-2:-1] + x[3:28] 
data = data[x]

data.to_csv("data/total/" + str(datetime.date.today()) + "_total.csv", index=False)
data.head()

,DATE,PLAYER,TEAM,AGE,GP,WLP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2019-01-10,James Harden,HOU,29.0,37.0,0.594595,22.0,15.0,1378.0,1254.0,364.0,835.0,43.6,179.0,464.0,38.6,347.0,407.0,85.3,27.0,195.0,222.0,318.0,211.0,74.0,22.0,128.0,2074.4,15.0,5.0,58.0
1,2019-01-10,Kevin Durant,GSW,30.0,41.0,0.658537,27.0,14.0,1469.0,1163.0,401.0,794.0,50.5,75.0,206.0,36.4,286.0,314.0,91.1,20.0,284.0,304.0,252.0,140.0,32.0,43.0,78.0,1990.8,12.0,2.0,285.0
2,2019-01-10,Damian Lillard,POR,28.0,42.0,0.595238,25.0,17.0,1485.0,1089.0,356.0,801.0,44.4,124.0,321.0,38.6,253.0,282.0,89.7,32.0,159.0,191.0,258.0,118.0,41.0,19.0,75.0,1767.2,5.0,0.0,132.0
3,2019-01-10,Joel Embiid,PHI,24.0,40.0,0.650000,26.0,14.0,1348.0,1077.0,356.0,727.0,49.0,46.0,153.0,30.1,319.0,396.0,80.6,93.0,445.0,538.0,140.0,140.0,23.0,75.0,133.0,2086.6,36.0,1.0,185.0
4,2019-01-10,Anthony Davis,NOP,25.0,37.0,0.513514,19.0,18.0,1368.0,1070.0,384.0,747.0,51.4,35.0,109.0,32.1,267.0,332.0,80.4,124.0,366.0,490.0,164.0,75.0,66.0,99.0,92.0,2324.0,29.0,0.0,173.0

---
### Things I learned doing this web scraping project:
- An list can be an empty list with multiple empty lists. Moreover, an empty list can be an empty inside an empty list, inside an empty list!
    - __Use case__: Using a `for` loop to append values into multiple empty lists with different variable names.
- An element from a list can be indexed as list, opposed to the commonly use of indexing: to grab the string of an element of a list
    - __Use case__: Reorder the column names of a `pandas` `DataFrame`.

__Task at hand:__ Use a `for` loop to append values into empty lists with different variable names.

Originally, this was how I thought through the problem, which ultimately did not end up working.

In [414]:
list1 = []
list2 = []
list3 = []

x = [x for x in range(31)]

for i in range(1, 3):
    list+str(i).append(item)

AttributeError: 'str' object has no attribute 'append'

Obviously, this was not going to work. Well, I'm a little slow in the thinking portion of programming, I guess. Therefore, I made my way over to a `Python` channel on `Discord` and was able to find solution from a user. 
He suggested I start with an empty list containing multiple empty lists. It was brilliant! Not only do I avoid having to name all the different lists, I can just index the contents of the variable to get exactly what I need.

So, let's try this again.

In [424]:
empty_lists_within_a_list = [[], [], []]
empty_lists_within_a_list

[[], [], []]

In [425]:
x = 0
for i in range(3):
    empty_lists_within_a_list[i].append(x)
empty_lists_within_a_list

[[0], [0], [0]]

We can now index the `list` in which ever which we desire.

In [432]:
list1 = empty_lists_within_a_list[0]
list2 = empty_lists_within_a_list[1]
list3 = empty_lists_within_a_list[2]

print("List 1:")
print(list1, end='\n\n') # by default, print() is print(, end='\n'). Using print(, end='\n\n') just creates an extra "new line".
print("List 2:")
print(list2, end='\n\n') # by default, print() is print(, end='\n'). Using print(, end='\n\n') just creates an extra "new line".
print("List 3:")
print(list3)

List 1:
[0]

List 2:
[0]

List 3:
[0]

---

__Reordering Column Position Order__

In [472]:
x = data.columns.tolist()
old_list = pd.DataFrame(columns=x)
x = x[-1:] + x[-3:-2] + x[0:3] + x[-2:-1] + x[3:28]
list_we_want = pd.DataFrame(columns=x)

This is the original column order from the dataset I scraped above. After making the initial `pd.DataFrame`, I added `PLAYER`, `WLP`, and `DATE`.

In [473]:
display(old_list)

Empty DataFrame
Columns: [TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-, PLAYER, WLP, DATE]
Index: []

I want to reorder the column so that:
- `DATE` goes from  last postion to the first position of the new list. (`x[-1]` to `x[0]`)
- `PLAYER` goes from the third to last postion to the second postion of the new list. (`x[-3]` to `x[1]`)
- `WLP` goes from the second to last postion to the sixth postion of the new list. (`x[-2]` to `x[5]`)

In [474]:
display(list_we_want)

Empty DataFrame
Columns: [DATE, PLAYER, TEAM, AGE, GP, WLP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

__Solution:__

If you didn't already know, a single element in a list can be indexed into list on itself, opposed to the more commonly seen uses of indexing a `list` to get a `string`. This can be done by adding a `:` after the __indexing number__ followed by the next sequential number. Since Python's upperbound of a `range` or `slice` is excluded (for this particular example, we are using a `slice`), the code will output a "slice" of just itself.

For example: This is the common way to index a list, which outputs a `string`.

In [452]:
x[-1]

'DATE'

In [450]:
type(x[-1])

str

We are just using what we already learned from the `print('hello world')` part our quest for the Python knowledge. I just never realized that this was possible! This was a "You learn something new everyday" moment for me. By adding a `:` after the indexing number followed by the next sequential integer, you can output the `list` of whatever you indexed.

In [451]:
x[-2:-1]

['WLP']

This was another use of this technique, which was the reason why I couldn't see it before. Indexing the __last position__ of a `list` as a `list`. To get the last position of a list, you place a `:` followed by nothing else. Intuitively for me, the last position should be `x[-1:0]`, but this outputs an empty `list`.

In [453]:
x[-1:0]

[]

The last element of the `list` `x`.

In [454]:
x[-1:]

['DATE']

Now this is the crazy part. You can start adding strings together by using the `+` operator to make a custom order. Think of a train who's individual sections have unique colors and slicing them to whichever lengths of sections you desire. Single sections? Three sections at a time? Sure, go ahead! Now, the `+` operator is like you putting those customly segmented train pieces back together to whichever order you desire!

The first example will be to take `DATE`, the last position of the list to the beginning of the list. `x[-1:]` is `DATE`. That means that `x[0:-1]` or `[:-1]` is everything else in the list.

In [462]:
x[-1:]

['DATE']

`x[0:-1]` is the __same__ as `x[:-1]`. I will be using `x[:-1]` in this example. I don't know enough to explain why they are the same, but what I can say is that when I type it on my computer and press `shift + enter`, they produce the same output.

In [464]:
x[0:-1]

['TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 'FP',
 'DD2',
 'TD3',
 '+/-',
 'PLAYER',
 'WLP']

In [465]:
x[:-1]

['TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 'FP',
 'DD2',
 'TD3',
 '+/-',
 'PLAYER',
 'WLP']

Knowing the contents of our individual "train segments", we can now add them together. `x[0:-1] + x[:-1]` in regular people talk: "The thing in the last position of a list __plus__ everything else in that same the list" or "I want to add the longer piece(the `list` that has everything but the thing in the last postion), to the last thing on the list".

In [496]:
x = x[-1:] + x[:-1]
x

['DATE',
 'TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 'FP',
 'DD2',
 'TD3',
 '+/-',
 'PLAYER',
 'WLP']

`DATE` was moved from last position of the original `list` to the first position. __Important:__ Now, if we reversed the order of the mathematical formula, the output would __NOT__ be the same. That's the beauty of this technique, you have complete control over the order. Running `x[:-1] + x[-1:]` brings the order of list back to its original form.

In [466]:
x[:-1] + x[-1:]

['TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 'FP',
 'DD2',
 'TD3',
 '+/-',
 'PLAYER',
 'WLP',
 'DATE']

This is what we have so far.

In [479]:
working_list = pd.DataFrame(columns=x)
display(working_list)

Empty DataFrame
Columns: [DATE, TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-, PLAYER, WLP]
Index: []

Next, I want to take `PLAYER` and put in on the second position of our __current__ list. The second part is a little confusing. Since we want to put `PLAYER` in between `DATE` and `TEAM`, we need to see `TEAM` as "`TEAM` up until where `PLAYER` got cut off", which is `+/-`. Envision this problem as cutting this list into 4 separate pieces: `DATE`, `PLAYER`, `TEAM through +/-`, and `WLP`. `PLAYER` will leave its second to last position on the list which creates a space between `+/-` and `WLP`. Therefore, `WLP` has to be its own segment. Ultimately, we wil be doing: `DATE` + `PLAYER` + `TEAM through +/-` + `WLP`. We are attach `WLP` back with the `+/-` end of `TEAM though +/-`.
- `DATE` = x[0:1]
- `PLAYER` = x[-2:-1]
- `TEAM through +/-` = x[1:28]
- `WLP` = x[-1:]  

We have to slice and reattach each segment relative to the __current__ working order of the list.
`DATE` + `PLAYER` + `TEAM through +/-` + `WLP` = x[0:1] + x[-2:-1] + x[1:28] + x[-1:]

__Remember:__ The order of the mathematical formula is important. Try to visualize how the final order will look like.

In [497]:
x = x[0:1] + x[-2:-1] + x[1:29] + x[-1:]
display(pd.DataFrame(columns=x))

Empty DataFrame
Columns: [DATE, PLAYER, TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-, WLP]
Index: []

Finally, we want to move `WLP` in between `GP` and `W`. Using the concepts shown above, we'll need to do: `DATE through GP` + `WLP` + `W through +/-`. We only have 3 segments this time because `WLP` is the last element on the list.

In [498]:
x = x[0:5] + x[-1:] + x[5:-1]
display(pd.DataFrame(columns=x))

Empty DataFrame
Columns: [DATE, PLAYER, TEAM, AGE, GP, WLP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

For those of you in the never-ending quest to find Python "one-liners", here's the code in one line. I mean, it's not really one line if you consider that you have to save the columns names from somewhere.

In [500]:
display(pd.DataFrame(columns=x[-1:] + x[-3:-2] + x[0:3] + x[-2:-1] + x[3:-3]))

Empty DataFrame
Columns: [DATE, PLAYER, TEAM, AGE, GP, WLP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

In [160]:
# figure out how to run this automatically every day at a certain time.
# Add Team Rank to this
# Add rank for each category and the avg of that can be the indication of their winning percentage